{% extends "base.html" %} {% block title %} Graph {% endblock %} {% block
content %}

<div class="container">
  <div class="all-index-search">
    <div class="row">
      <div class="col-12 h2">Knowledge Graph Search API</div>
    </div>
    <form id="index_form " action="{{url_for('index')}}" method="POST">
      <div class="row justify-content-center index_btn">
        <div class="col-1 col-form-label"></div>
        <div class="col-9">
          <input
            type="text"
            id="country"
            name="country"
            value=""
            class="form-control"
            placeholder="Enter a country"
          />
          <br />
        </div>
        <div class="col-1 col-form-label"></div>
        <div class="col-9">
          <input
            type="submit"
            value="Search"
            class="btn btn-serch btn-primary col-12"
          />
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-1 col-form-label"></div>
        <div class="col-3">
          <br />
        </div>
      </div>
    </form>
  </div>

  {% endblock %}
</div>
